<!doctype html>
<html lang="en">
<!--------------------------------------------------头部-------------------------------------------------------->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/default.min.css">
   <!--  <link rel="stylesheet"  href="../css/dracula.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/offcanvas.css" rel="stylesheet">
    <title>go</title>
  </head>
<!--------------------------------------------------导航-------------------------------------------------------->
  <body class="bg-light" id="ups" name="ups">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">&nbsp;</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span></div>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active"><a class="nav-link" href="../#">Dashboard <span class="sr-only">(current)</span></div></a></li> -->
 <li class="nav-item"><a class="nav-link" href="../index.html">博客</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Lang</a></li>
    <!--   <li class="nav-item active"><a class="nav-link" href="../go.html">Go</a></li> -->
      <li class="nav-item"><a class="nav-link" href="../soft.html">软件</a></li>
      <li class="nav-item"><a class="nav-link" href="../site.html">导航</a></li>
<li class="nav-item"><a class="nav-link" href="../ejing.html">易经</a></li>
      <li class="nav-item"><a class="nav-link" href="../m/index.html">音乐</a></li>
 <li class="nav-item"><a class="nav-link" href="../go.php">|</a></li>
      <li class="nav-item"><a class="nav-link" href="../head.html">头部</a></li>
      <li class="nav-item"><a class="nav-link" href="../women.html">女装</a></li>
      <li class="nav-item"><a class="nav-link" href="../man.html">男装</a></li>
      <li class="nav-item"><a class="nav-link" href="../ku.html">裤子</a></li>
      <li class="nav-item"><a class="nav-link" href="../bags.html">包</a></li>
      <li class="nav-item"><a class="nav-link" href="../child.html">儿童</a></li>
      <li class="nav-item"><a class="nav-link" href="../shoes.html">鞋</a></li>
      <li class="nav-item"><a class="nav-link" href="../sport.html">运动</a></li>
      <li class="nav-item"><a class="nav-link" href="../toy.html">玩具</a></li>
      <li class="nav-item"><a class="nav-link" href="../phone.html">手机</a></li>
      <li class="nav-item"><a class="nav-link" href="../pc.html">PC</a></li>
      <li class="nav-item"><a class="nav-link" href="../dian.html">小电器</a></li>
      <li class="nav-item"><a class="nav-link" href="../home.html">居家</a></li>
      <li class="nav-item"><a class="nav-link" href="../kitchen.html">厨房</a></li>
      <li class="nav-item"><a class="nav-link" href="../car.html">汽车</a></li>
      <li class="nav-item"><a class="nav-link" href="../medi.html">医药</a></li>
      <li class="nav-item"><a class="nav-link" href="../indus.html">工业</a></li>
      <li class="nav-item"><a class="nav-link" href="../ray.html">光</a></li>


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
   <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<!--------------------------------------------------二级导航-------------------------------------------------------->
<!-- <div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="index.html">Linux</a>
    <a class="nav-link active" href="go.html">Go</a>
    <a class="nav-link" href="php.html">PHP</a>
  </nav>
</div> -->
<!--------------------------------------------------内容-------------------------------------------------------->
<main role="main" class="container">
<!---------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------->
<div class="row"><div class="col-xs-12 col-md-12 btit"><a href="../lang.php">go基础</a></div></div>
<div class="row"><span class="txt">
  go通过包名字管理的，文件第一行定义包名package util。导入包时候相对目录路径（import "./www"）或者在src目录下（import "fmt"）。包名=》函数（首字母大写跨跨包）或变量。包定义必须在首行，包名不可重复。对象编程(MVC):设计结构体图时候MCV步骤,编写代码顺序是VCM。包名=》函数（首字母大写跨跨包）或变量。包定义必须在首行，包名不可重复。
可以一个目录一个包。</span></div>
<div class="row"><pre><code>
go run FILE.go    //运行
go build FILE.go //编译

fmt "./tools"    //倒入包的目录的相对路径
package tools    //定义包
Cal (){}    //函数或变量
tools.cal()    //调用
</code></pre></div>

<div class="row"><span class="txt">变量：变量是内存局部空间的定义。go语言基本数据类型和数组是值传递，函数也是数据类型。</span></div>
<div class="row"><pre><code>
//////变量//////
var i int = 25
var m = "string"( m := "string" )//go 可以进行类型推到，自己判断类型。
var m,n,l int //定义多个变量
var m,n,l = 45,"string",65.89 ( m,n,l := 45,"string",65.89 )
</code></pre></div>

<div class="row"><span class="txt">数组：go语言基本数据类型和数组是值传递，函数也是数据类型。函数递归：递归是函数本身在栈中调用自己本身。
递归必须跳出递归的条件逼近，要么是死循环。（栈是先进后出）当一个函数结束或遇到return时候函数本身被销毁。谁调用函数返回给谁！数组是连续内存空间，第一元素地址就本数组地址，元素间隔元素类型决定。数组是同一类型数据和集。数组长度定义了不能改变，长度也是数组类型的部分。切片是动态数组，
数组的引用，是引用类型。底层数组的长度是指定的容量。
go语言基本数据类型和数组是值传递，函数也是数据类型。对象编程(MVC):设计结构体图时候MCV步骤,编写代码是VCM
</span></div>
<div class="row"><pre><code>
//数组
var arr [3]int = [3]int{5,4,8}
var arr = [3]int{5,4,8}
var arr = [...]int{5,4,8}
var arr = [...]int{1:5,0:4,2:8}
//slice
var sli []int = make([]int,10,12)     //初始化切片，长度是10,容量是12
slice := append([]int{1,2,3},4,5,6)   //切片追加元素
sli = append(sli[:i],sli[i+1:]...)    //sli[i]删除
</code></pre></div>

<div class="row"><span class="txt">结构体：结构体是自定义数据类型，结构体的字段（属性）基本数据类型，指针，切片，map 结构体的变量是代表具</span></div>
<div class="row"><pre><code>
type A struct {}  //定义结构体
type B struct { A }    //B继承A

var person1 Person
person2 := Person{}
var person3 *Person = new(Person)
var person4 *Person = &Person{}
</code></pre></div>

<div class="row"><span class="txt">运行：</span></div>
<div class="row"><pre><code>
go run file.go    //直接运行
go build -o execFile srcFile.go    //生成可执行文件
</code></pre></div>

<div class="row"><span class="txt">TEXT</span></div>
<div class="row"><pre><code>
//基本数据类型：
byte = 'b' //一个字节长度，8bit，int8的类型

//转移字符：
\t    //tab键
\n    //换行
\r    //替换
\"    //双引号转移

//函数递归：
/*
递归是函数本身在栈中调用自己本身。递归必须跳出递归的条件逼近，要么是死循环。（栈是先进后出）当一个函数结束或遇到return时候函数本身被销毁。谁调用函数返回给谁！
*/

//格式：
Tab，Shift + Tab    //快捷键
gofmt -w file.go    //文件格式化
func main(){    //花括号必须在一行
    Println("hello word!hello word!",    //每一行不得超过80字
    "hello word!")
}

//数组是连续内存空间，第一元素地址就本数组地址，元素间隔元素类型决定。数组是同一类型数据和集。数组长度定义了不能改变，长度也是数组类型的部分。
//数组的初始化
//var a [3]int = [3]int{5,4,8}
//var a = [3]int{5,4,8}
//var a = [...]int{5,4,8}
//var a = [...]int{1:5,0:4,2:8}

//切片是动态数组，数组的引用，是引用类型。底层数组的长度是指定的容量。
var sli []int = make([]int,10,12) /初始化切片，长度是10,容量是12
slice := append([]int{1,2,3},4,5,6)   //切片追加元素
sli = append(sli[:i],sli[i+1:]...)    //sli[i]删除

//函数
fmt.Scanln(&a)    //接受变量
fmt.Sprintf("%v",mom)    //格式化输出
fmt.Printf("%d",i)    //格式化打印 %d:整数 %c:字母

//结构体是自定义数据类型，结构体的字段（属性）基本数据类型，指针，切片，map 结构体的变量是代表具体的事物，结构体变量初始化
var person1 Person
person2 := Person{}
var person3 *Person = new(Person)
var person4 *Person = &Person{}

//继承，Go lang中的结构体嵌套另一个匿名结构体叫继承.那么结构可以访问匿名结构体的字段和方法.
type A struct {}
type B struct { A }    #B继承A

//文件，os包的type File结构体内有很多操作文件的方法.
file,err := os.Open()    ###打开文件
reader := bufio.NewReader(file)    ###加载到缓存
str,err := reader.String('\n')
ioutil.ReadFile("/home/file.txt")    ###io/ioutill包的直接读取文件,不用关闭.返回[]byte,err
ioutil.WriteFile("/home/user/ss.sh",[]byte("sssww"),0666)    ###读入文件

//JSON是轻量级的数据交换格式,网络中的数据(map,结构体)序列化成JSON格式传输到目的计算机然后反序列化成数据(map,结构体)格式:{"key","value"}

var i int = 25
var m = "string"( m := "string" )//go 可以进行类型推到，自己判断类型。
var m,n,l int //定义多个变量
var m,n,l = 45,"string",65.89 ( m,n,l := 45,"string",65.89 )

//Go 环境变量
go env    //显示配置
 
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/mgl/go"    //工作目录
GORACE=""            
GOROOT="/usr/local/go"    //安装目录
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"    
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build864558782=/tmp/go-build -gno-record-gcc-switches"
CXX="g++"
CGO_ENABLED="1"
CGO_CFLAGS="-g -O2"
CGO_CPPFLAGS=""
CGO_CXXFLAGS="-g -O2"
CGO_FFLAGS="-g -O2"
CGO_LDFLAGS="-g -O2"
PKG_CONFIG="pkg-config"
 
go env    //显示配置
go get    //获取远程包（需要提前安装git或hg）
go run    //直接运行程序
go build    //测试编译，检查是否编译错误
go fmt    //格式化源码（部分IDE在保存时候自动调用）
go install    //编译包文件，并编译整个程序
go test    //运行测试文件
go doc    //查看文档


/*go程序的一般结构，basic_structure.go
go程序通过package来组织，只有package名称包可以包含main函数，一个执行程序只有一>个main函数
*/
package main
//通过import关键字来导入其他包
import "fmt"
import {                //批量导入包名
        "导入的包1"
        "导入的包2"
        "导入的包3"
}
//别名的设置
import BieMing "fmt"
//用const关键字定义常量
const PI = 3.14 
 
const {
const1=1
const2=3
const3=3
}
//函数外部使用var关键字来进行全局变量的声明和赋值
var name = "haoren"
var {
name = 1
name2 = 3
}
 
//用关键字type进行结构(struct)或接口(interface)的声明
type nameTpye int
type{
type int
type float
type string
}
 
type jiegou struct{}
type jiekou interface{}
//用func关键字函数声明
//函数名首字母为小写即为private
//函数名首字母为大写即为public
func main(){
        Println("hello word！你好世界！")
}

</code></pre></div>

<div class="row"><span class="txt">TEXT</span></div>
<div class="row"><pre><code>LANG</code></pre></div>

<div class="row"><span class="txt">TEXT</span></div>
<div class="row"><pre><code>LANG</code></pre></div>

<div class="row"><span class="txt">TEXT</span></div>
<div class="row"><pre><code>LANG</code></pre></div>

<div class="row"><span class="txt">
测试：
  单元测试方法和函数的测试。测试文件和被测试文件包名相同，同一目录下。测试文件名_test.go结尾，和引入testing包，函数TestXxx开头，X是大写。
</span></div>
<div class="row"><pre><code>
func TestAdd(t *testing.T){ //Add自定义名字必须是大写开头。
AddUser()
}
</code></pre></div>

<!-- ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
<div class="row"><div class="col-xs-12 col-md-12 btit">go函数</div></div><!-- ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
<div class="row"><span class="txt">文件：</span></div><div class="row"><pre><code>
close(ch1)  //关闭管道
recover()   //捕获panic崩溃信息
time.Sleep(time.Second) //暂停一秒
strconv.Itoa(i) //转为字符串
runtime.NumCPU()    //CPU核心数量
runtime.GOMAXPROCS() //Go使用的核心数量
//添加字符串到切片
var sli []string
var str string = "aaa"
str = append(sli,str)

reader := bufio.NewReader(os.Stdin) //os.Stdin标准如
reader.ReadString('\n')     //输入获取
conn.Write([]byte(line))    //写入到conn
strings.Trim(a," \t\n")     //a变量的空格tab回车去掉
</code></pre></div>
<div class="row"><span class="txt">文件：</span></div><div class="row"><pre><code>
os.Open("/home/user/test.txt")    //打开文件
reader := bufio.NewReader(file)    //创建缓存reader对象
reader.ReadString('\n')        //打开文件
 
os.OpenFile("/home/user/sss.txt",os.O_WRONLY | os.O_CREATE,0777)    //创建文件
bufio.NewWriter(file)    //创建缓冲对象
writer.WriteString("hello")    //往缓冲对象中写入数据
</code></pre></div>
<div class="row"><span class="txt">外部命令exec：</span></div><div class="row"><pre><code>
cmd := exec.Command("ls","-a","-l")
out,_ := cmd.Output()
fmt.Println(string(out))
</code></pre></div>
<div class="row"><span class="txt">网络：</span></div><div class="row"><pre><code>
net.Listen("tcp","0.0.0.0:88")    //服务端监听tcp 88端口
net.Dial("tcp","127.0.0.1:88")  //连接服务器tcp 88端口
</code></pre></div>
<div class="row"><span class="txt">重定向：</span></div><div class="row"><pre><code>
func nginx2(w http.ResponseWriter,r *http.Request){
        //重定向，必须w.Header()前面。然后是WriteHeader
  w.Header().Set("Location","https://www.baidu.com/")
  w.WriteHeader(302)
}
</code></pre></div>
<div class="row"><span class="txt">模板引擎：</span></div><div class="row"><pre><code>
import "net/http"
import "html/template"
 
func nginx(w http.ResponseWriter,r *http.Request){
    //导入模板，如果模板文件出错就Must函数返回panic
    t := template.Must(template.ParseFiles("./index.html")) 
    t.Execute(w,"这是被替换的部分！")
}
//定义nginx2的服务器
func nginx2(w http.ResponseWriter,r *http.Request){
    //ParseGlob函数可以导入多个模板文件
    t := template.Must(template.ParseGlob("*.html"))
    //ExecuteTemplate函数第二参数要选择的模板名
    t.ExecuteTemplate(w,"ss.html","kaka")
}
func main(){
    //说明：/css/网页文件中路径。cssjs是真实的服务端css目录
    http.Handle("/css/",http.StripPrefix("/css/",http.FileServer(http.Dir("cssjs"))))
    //处理与路径绑定
    http.HandleFunc("/",nginx)
    http.HandleFunc("/html",nginx2)
    //监听端口和调用默认的fuyouqi
    http.ListenAndServe(":8080",nil)
}
</code></pre></div>
<div class="row"><span class="txt">动作：</span></div><div class="row"><pre><code>
t.Execute(w,"www")  //www惨素被传到'.'那里
{{if .}}执行1{{else}} //条件成立执行1
{{if .}}执行1{{else}}执行2{{end}} //条件成立执行1，否则是执行2
{{range .}} {{.}} {{else}}执行2{{end}} //条件成立{{.}}，否则是执行2
{{template "content"}}  //引入内容
{{block "content".}}内容{{end}}   //引入文件默认内容
{{define "content"}} 菩萨 {{end}} //引入文件定义，可以是html文件
</code></pre></div>
<div class="row"><span class="txt">表单：</span></div><div class="row"><pre><code>
package main
import (
  "fmt"
  "net/http"
)
func nginx(w http.ResponseWriter,r *http.Request){
  //表单的方式是：method="post"
  //获取表单url中的数据 http://localhost:8080/?whach='hahha'
  fmt.Fprintln(w,"获取表单数据：",r.FormValue("whach"))
  //获取表单的input 中的数据，通过name中指定的名字来查找
  fmt.Fprintln(w,"获取表单POST 用户名：",r.PostFormValue("username"))
  fmt.Fprintln(w,"获取表单POST 密码：",r.PostFormValue("password"))
}
func main(){
  http.HandleFunc("/",nginx)
  http.ListenAndServe(":8080",nil)
}
</code></pre></div>
<div class="row"><span class="txt">数据库mysql：</span></div><div class="row"><pre><code>
package utils
import (
    "database/sql"
    _"github.com/go-sql-driver/mysql" //引入包是为驱动mysql
)
//创建连接池
DB,err := sql.Open("mysql","root:pass@tcp(ip:port)/dbname")
  if err != nil {
    panic(err.Error())
  }
 
//插入mysql数据库
sql := "insert into users(username,password,email) values(?,?,?)"
DB.Exec(sql,"qiqi","wwwppp","qiqi@qq.com")  
 
//按记录查询数据库
sql := "select * from users where id= ?"
row := utils.DB.QueryRow(sql,15)  //id为15
row.Scan(&id,&username,&password,&email) //获取字段
 
//获取全部记录
sql := "select * from users"
rows := DB.Query(sqlStr)
rows.Scan(&id,&username,&password,&email)
</code></pre></div>
<div class="row"><span class="txt">数据库redis：</span></div><div class="row"><pre><code>
import "github.com/gomodule/redigo/redis"
 
var pool *redis.Pool //连接池
pool = &redis.Pool {  //获取结构体地址的
    MaxIdle : 8,  //最大空闲
    MaxActive : 0,  //最大链接数
    IdleTimeout : 100,  //超时时间
    Dial : func()(redis.Conn,error) { //redis链接匿名函数
      return redis.Dial("tcp","127.0.0.1:6379")
    },
  }
conn := pool.Get()      //从连接池获取链接
conn.Do("mset","name","qiqi","age","25")    //写入数据到redis
redis.String(conn.Do("get","name"))    //读取Redis转成string 字符串使用redis.Strings
</code></pre></div>
<div class="row"><div class="col-xs-12 col-md-12 btit">go函数</div></div>
<div class="row"><span class="txt">#####</span></div>

<div class="row"><pre><code></code></pre></div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="row"><hr></div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="../css/offcanvas.js"></script>
<div class="goTop" id="js-go_top"><a href="#ups"><img src="../css/icon_top.png" alt="回到顶部图片"></a></div>
<script src="../css/GoToTop.js"></script>

  </body>
</html>